body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #25D366;
    align-items: center;
    font-family: 'source code pro';
}
h2 {
    letter-spacing: -1px;
}

/* login box */
#login-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E5DDD5;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 350px;
}
#username{
    width: auto;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 12px;
    margin: 2px;
    width: 230px;
}
#password{
    height: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 12px;
    margin: 2px;
    width: 230px;
}
button{
    /* height: 30px; */
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(18, 140, 70, 0.9);
    color: white;
    margin: 2px;
}
p {
    font-size: small;
    font-family: 'Source code pro';
    letter-spacing: -0.5px;
}
a {
    text-decoration: none;
}
.error-message {
    color: red; 
    margin-top: 10px;
}

/* chat box */
#chat-container{
    width: 300px;
    padding: 10px 12px 10px 12px;
    background-color: #dcf8c6;
    border-radius: 10px;
}
#chat-area {
    border: 1px solid black;
    border-radius: 10px;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(252, 247, 233);
}
#message-input {
    width: 250px;
    padding: 8px;
    margin-right: 5px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: black;
}
#send-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    background-color: #0bd607;
    padding: none;
}

::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #888;
}
::-webkit-scrollbar-corner{
    background-color: #ccc;
}